$pastel-white: #fefefe;
$pastel-blue: #eff0f9;
$pastel-blue-dark: rgb(81,87,105);
$pastel-blue-mono: #82889b;
$pastel-pink: #FDF0F1;
$pastel-orange: rgb(242, 113, 43);
$pastel-green: #eef7dc;

$pastel-beige: #fcf3ed;
$pastel-beige-dark: #eddcd0;

$shadow-soft: rgba(15,103,129,0.4);
$shadow-soft-light: rgba(15,103,129,0.2);

$balloon-seledin: #DDFFF7;
$balloon-turquoise: #93E1D8;
$balloon-salmon: #FFA69E;
$balloon-maroon: #AA4465;
$balloon-purple: #861657;
$balloon-blue: #495D63;

$background-color: $pastel-white;
$background-color-opacity: rgba(254, 254, 254, .7);

$brand-color-primary: $pastel-orange;
$brand-color-secondary: $pastel-blue-dark;

$panel-color-primary: $pastel-beige;
$panel-color-primary-dark: $pastel-beige-dark;

$panel-color-secondary: $pastel-blue;

$font-color-text: $pastel-blue-dark;
$font-color-text-light: $pastel-blue-mono;

$panel-color-dark: $pastel-blue-dark;