@import '../../App';

.QuestionItem {
  max-width: 100%;
  width: 1200px;
  font-size: 1.6rem;
  flex: 1;
  flex-basis: 200px;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  cursor: pointer;

  @for $i from 1 through 250 {
    &:nth-child(#{$i}) {
      .QuestionItem__circle {
        animation: {
          name: flip-card-reverse;
          duration: $long-frame;
          timing-function: $transition-soft-out;
          fill-mode: forwards;
        }
        animation-delay: $short-frame * $i;
      }
      
      .QuestionItem__body,
      .QuestionItem__status {
        animation: {
          name: fade-card;
          duration: $long-frame;
          timing-function: $transition-soft-out;
          delay: $normal-frame + $short-frame * $i;
          fill-mode: forwards;
        }
      }
    }
  }
  
  .search-used & {
    > &__circle {
      
      animation-delay: 0 !important;    // REASON user already see the previous items so there is no need to delay
    }
  }


  &__circle {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transform: rotateY(0deg);
    transform-origin: 50% 0;
    background-color: $panel-color-primary;
    opacity: 0;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 8px 0px $shadow-soft-light; 

    &-FINISHED {
      background-color: $pastel-green;
    }

    &-IN_PROGRESS {
      background-color: $pastel-blue;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
  }

  &__body {
    opacity: 0;               // overriden by forwards animation to opacity: 1
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: $brand-color-secondary;
  }

  &__status {
    opacity: 0;               // overriden by forwards animation to opacity: 1
    font-size: 1.4rem;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: .1rem;
    margin-top: .2rem;
    color: $brand-color-primary;
  }
}

.QuestionItem:hover{
  cursor: pointer;
}

@keyframes flip-card {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
    color: $pastel-white;
  }
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
    color: $pastel-white;
  }
}

@keyframes flip-card-reverse {
  0% {
    background-color: $brand-color-primary;
    color: transparent;
    transform: rotateY(-180deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes fade-card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}