@import '../../App';

.AppSearchBox {
  margin: 2rem 0;
  text-align: center;

  &__wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__input {
    font-weight: 600;
    font-size: 2rem;
    padding: .8rem .8rem .8rem 3rem;
    border: .15rem solid $panel-color-primary-dark;
    border-radius: 3rem;
    width: 100%;
    box-sizing: border-box;
    transition: width $normal-frame $transition-fluent;
    color: $font-color-text;

    &::placeholder {
      color: $font-color-text-light;
    }
    
    &:focus {
      outline: none;

      .AppSearchBox__icon {
        background-color: #2a2825;
      }

      &~.AppSearchBox__clear {
        opacity: 1;
        transform: translate(0, -50%);
      }
    }
  }

  &__clear {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    -webkit-mask: url('close.svg') no-repeat 100% 100%;
    mask: url('close.svg') no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $panel-color-dark;
    top: 50%;
    right: 1.5rem;
    transform: translate(100%, -50%) rotate(-90deg);
    opacity: 0;
    transition: $normal-frame $transition-fluent;

    &.AppSearchBox__visible {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
}


@media only screen and (max-width: 768px) {
  .search .search-box {
    width: 100%;
  }

  .search input,
  .search input:focus {
    width: 100%;
  }

  .search .clear {
    transition-delay: 0s;
  }
}
