@import '../../App';

.ParentView {
  position: relative;
  flex: 1;
  background-color: $background-color-opacity;
  border-radius: 1rem;
  max-width: $container-width-xl;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 8rem;
  
  &__content {
    // height: 100%;
  }
}