@import '../../App';

.AppHeader {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  &__logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: .2rem;
    color: $brand-color-primary;
    background: url('../../assets/images/logo.png');
    height: 120px;
    width: 120px;
    background-size: 150%;
    background-position: center;
  }

  &__nav {
    display: flex;
    position: relative;
    top: -30px;
    font-size: 2rem;
  }

  &__link {
    font-weight: 600;
    margin: 0 .5rem;
    cursor: pointer;
  
    &-text {
      padding: 1rem;
      color: $brand-color-secondary;
      transition: $short-frame;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin-top: 4px;
        background: $brand-color-primary;
        transition: width $normal-frame;
      }
    
      &:hover::after {
        width: 100%;
      }
      
      &.active {
        color: $brand-color-primary;

        &::after {
          width: 0;
        }
      }
    }

    &-button {
      padding: 1rem 2rem;
      background-color: $brand-color-primary;
      color: $pastel-white;
      border-radius: 2rem;
      box-sizing: border-box;
      position: relative;
      border: 2px solid transparent;

      transition: $short-frame $transition-fluent;

      &:hover {
        background-color: $pastel-white;
        color: $brand-color-primary;
        border-color: $brand-color-primary;
      }

      // &::before {
      //   display: inline-block;
      //   content: '';
      //   height: 50%;
      //   width: 2px;
      //   background-color: $brand-color-secondary;
      //   position: absolute;
      //   top: 50%;
      //   transform: translate(-50%, -50%);
      //   left: -1rem;
      // }
    }
  }
}