@import '../../App';

.LandingView {
  background-color: $background-color;
  position: relative;
  
  flex: 1;
  display: flex;
  flex-direction: column;
  // z-index: $zindex-below;
  overflow: hidden;

  &__curtain {
    height: 100%;
    width: 100%;
    // position: absolute;
    background: url('../../assets/images/background-clouds-dark.png');
    background-position: bottom;
    background-repeat: no-repeat;
    z-index:-1;
    // background-size: 100%;
    bottom: -100px;
    // z-index: $zindex-below;
    pointer-events: none;

    // animation: 1s $transition-delayed curtain-go-up infinite;
    // animation: 10s $transition-fluent curtain-wave infinite;
  }
}

@keyframes curtain-go-up {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

@keyframes curtain-wave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}